# Path to your Cemu save PROFILE root (the folder that contains 0/, 1/, ... 7/),
# not the 0/ subfolder itself. Slots 0-7 are mounted automatically.
#
# WSL / Linux-style path:
# SAVE_PATH=/mnt/c/Users/YourWindowsUsername/AppData/Roaming/Cemu/mlc01/usr/save/00050000/101c9400/user/80000001
#
# Windows (Command Prompt / PowerShell) path:
# SAVE_PATH=C:/Users/YourWindowsUsername/AppData/Roaming/Cemu/mlc01/usr/save/00050000/101c9400/user/80000001
SAVE_PATH=
